.main_content {
	/*border-left: 1px solid grey;*/
}
.btn {
	border: none !important;
	outline: none !important;
}

a.nav-link {
	background: #fff;
	color: #6c757d;
}
a.nav-link.active {
	background: #fff !important;
	color: #007bff !important;
}